" ===========================================
" .vimrcの設定の読み込み
" ===========================================
" 基本設定
source ~/dotfiles/.vim/config/init/basic.vim
" マッピング設定
source ~/dotfiles/.vim/config/init/mapping.vim

" ===========================================
" IntelliJ IDEAのアクションの設定
"
" アクションの検索方法
" :actionlist       IdeaVim で呼び出し可能なアクションの一覧"
" :actionlist XXX   名前にXXXを含むアクションを検索"
" ===========================================

" Open .ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
" Reload .ideavimrc
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" テスト
nnoremap <Leader>r :action RunClass<CR>
" デバッグ
nnoremap <Leader>d :action Debug<CR>
" Stop
nnoremap <Leader><Leader>s :action Stop<CR>

" 現在行をブレークポイントに指定/解除
nnoremap <Leader>b :action ToggleLineBreakpoint<CR>
" デバッガをプロセスにアタッチ
nnoremap <Leader>a :action XDebugger.AttachToProcess<CR>

" 使用箇所を検索
nnoremap <Leader>u :action FindUsages<CR>
" アウトラインを表示
nnoremap <Leader>o :action FileStructurePopup<CR>
" Select file in Project View
nnoremap <Leader><Leader>p :action SelectInProjectView<CR>
" ファイルを検索（cmd + shift + o）
nnoremap <Leader>f :action GotoFile<CR>
" ファイルを全文検索（cmd + shift + f）
nnoremap <Leader><Leader>f :action FindInPath<CR>
" 階層ツールウィンドウを開く
nnoremap <Leader><Leader>h :action CallHierarchy<CR>
" Quick Documentation
nnoremap <Leader>q :action QuickJavaDoc<CR>

" 垂直方向に分割
nnoremap <Leader>sv :action SplitVertically<CR>
" 水平方向に分割
nnoremap <Leader>sh :action SplitHorizontally<CR>

nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

" 実装に移動
nnoremap gji :action GotoImplementation<CR>
" 宣言に移動
nnoremap gjd :action GotoDeclaration<CR>
" テストに移動
nnoremap gjt :action GotoTest<CR>
" スーパーメソッドに移動
nnoremap gjs :action GotoSuperMethod<CR>

nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
" Open a new terminal directly in the parent folder of the current file in the editor
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" =========================================
" IdeaVim-EasyMotion
" ===========================================
set easymotion
nmap s <Plug>(easymotion-s2)

set surround
